@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.oneh2{
  float: left;
  margin-left: 40px;
  margin-top: 8px;
  font-weight:bold;
  font-size:25px;
  color: blanchedalmond;
}
nav{
   width:100%;
   padding-top: 5px;
   top:0px;
   transition: .5s;
   text-align: center;
   position:fixed;
   z-index: 99999;
   height:60px;
   background-color: #09304b; 
   
  }
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;

}

li {
float: right;
}

li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
font-size: 18px;
text-decoration: none;
font-family:sans-serif, cursive ;
margin: 0px 15px;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: rgb(197, 232, 233)(0, 247, 255)(0, 247, 255);
color: rgb(152, 242, 248);

}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 190px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 8px;
z-index: 1;
}

.dropdown-content a {
color: black;
margin: 0;
text-decoration: none;
display: block;
text-align: left;
text-align: center;
border-radius: 8px;
}

.dropdown-content a:hover {background-color:rgb(221, 218, 218);
color:rgb(70, 64, 61);
}

.dropdown:hover .dropdown-content {
display: block;



    
  }
  label #s1, label #s2{
    font-size: 30px;
    color: rgb(252, 245, 230);
    float: right;
    line-height: 60px;
    margin-right: 60px;
    cursor:pointer;
    display:none;
  }
  #res-menu{
    display:none;
  }
/*------------responsiv--------------*/
@media (max-width:1228px){
   /*-----------navigation-----------*/
   label #s1{
       display:block;
   }
   nav ul{
      position: fixed;
       width:100%;
       height:100vh;
       background-color: rgb(90, 95, 97);
       top:60px;
       left:-100%;
       text-align: center;
       transition: 0.5s;
       z-index:10;
   }
   nav ul li{
       display:block;
       float: left;
       margin:40px;
       line-height: 30px;
 }
   nav ul li a{
       font-size: 25px;
       color: white;
   }
   /*-----responsiv state----*/
   #res-menu:checked~ul{
       left:0;
   }
   #res-menu:checked ~ label #s1{
       display:none;
   }
#res-menu:checked ~ label #s2{
   display:block;
}
}
 .main{
  height: 90vh;
  background-image:linear-gradient(225deg, rgba(7,21,41,0.8970938717283788) 0%, rgba(103,17,184,0.6365896700477065) 0%, rgba(15,15,15,0.3648809865743172) 0%, rgba(3,5,29,0.10437678489364499) 99%),url(https://res.cloudinary.com/ddvk8qw6u/image/upload/v1640274504/pexels-andrea-piacquadio-837129_uzz2qk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}

/*-----------------------section-1-----------------------------*/
.section-1{
  width:100%;
  height: 90vh;
  background-color: white;
}
.main-box{
  width:80%;
 
  height: 80vh;
  background-color: #09304b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:80px 10% 20px 10%;
}
.box-1{
  background-image: url(https://res.cloudinary.com/ddvk8qw6u/image/upload/v1640282574/sri-lanka-photos-0251.jpg_wgfhgz.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-color: aqua;
  width:50%;
}
.box-2{
 
  width:50%;
  height: 80vh;
  background-color: white;
}
.box-2 h2{
  text-align: center;
 font-size: 52px;
} 
.box-2 p{
 font-size: 25px;
 padding: 60px;
 
}

/*---------------------------section-2-------------------------------*/
.section-2{
  height: 40vh;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}
.section-2 h1{
 margin-top: 60px;
 font-size: 45px;
}
.section-2 h4{
  margin-top: 15px;
 font-size: 25px;
 margin-bottom: 70px;
}
.section-2 a{
  text-decoration: none;
  font-size:20px ;
  background-color: #5bbafa;
  padding: 20px 30px;
  color:white;
}
.section-2 span{
  color:#5bbafa;
}

.section-2 a:hover{
  color:#5bbafa;
  background-color: white;
  cursor: pointer;
}








 /*---------------------------------footer---------------------------*/
  .section-9{
    width:100%;
    height: 45vh;
    background-color:  #09304b;
    
  }
  .footer{
      width:80%;
   height:45vh;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 0;
    color:white;
    margin: 0px 10% 0px 10%;
    padding: 15px;
  }
  
  .footer h2{
    color: black;
    font-size: 28px;
    font-weight: 0.1;
    font-family:sans-serif, cursive ;
    text-transform:capitalize;
    text-align: left;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
  
  }
  .foot-1{
   
  background-color:  #09304b;
  
  }
  .foot-1 p{
    font-family:sans-serif, cursive ;
  }
  .foot-1 p{
      padding-right: 30px;
  }
  .foot-1 ul{
    list-style-type: none;
    margin-top: 30px;
  
  }
  .foot-1 li{
    float: left;
  }
  .foot-1 a{
    font-size: 25px;
    color:rgb(60, 231, 231);
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 15px;
  
  }
  .foot-1 a:hover{
    transform: scale(1.5);
    transition: 0.9s;
    cursor: pointer;
  }
  .foot-2{
  
    background-color:  #09304b;
    font-family:sans-serif, cursive ;
  }
  .foot-2 i{
    font-size: 20px;
    color:rgb(60, 231, 231);
    margin-bottom: 10px;
    margin-top: 5px;
   
  }
  .foot-2 a{
    margin-left: 14px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: normal;
  }
  
  .foot-2 a:hover{
    color:rgb(60, 231, 231) ;
    cursor:pointer;
  }
  .foot-3{
    display: flex;
    flex-direction: column;
    background-color: #09304b;
    
    font-family:sans-serif, cursive ;
    
  }
  .foot-3 i{
    color:rgb(60, 231, 231);
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 7px;
   
  
  }
  #news{
      padding-right: 30px;
  }
  .foot-3 a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 15px;
    margin-bottom: 7px;
    font-weight: normal;
  }
  .foot-3 a:hover{
    color:rgb(60, 231, 231) ;
    cursor:pointer;
  }
  .foot-4{
    background-color:  #09304b;
   font-family:sans-serif, cursive ;
   display: flex;
   flex-direction: column;
  }
  .foot-4 input{
    width:250px;
    height:40px;
    margin-top: 20px;
   padding-left: 10px;
   font-size: 15px;
   color: white;
   border: 2px rgb(60, 231, 231) solid;
   background-color: rgb(81, 80, 87);
   margin-bottom: 20px;
  
  }
  .foot-4 ::placeholder{
    color: white;
  }
  .foot-4 a{
    width:250px;
    height:40px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(60, 231, 231);
  }
  
  .subscri{
    
    padding:7px 67px 7px 67px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
  }
  .foot-4 a:hover{
    cursor: pointer;
    background-color: rgb(81, 80, 87);
    border: 2px rgb(60, 231, 231) solid;
  }
  
  .copy{
  
    width: 100%;
    background-color:#09304b;
    height:7vh;
    color:white;
    text-align: center;
    font-size: 18px;
    font-family:'Luxurious Roman', cursive ;
    padding-bottom: 50px;
  }

  
  
  
  @media screen and (max-width: 1080px) {
    .footer{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
  }
  @media screen and (max-width: 550px) {
    .footer{
      height: 90vh;
      display: grid;
      grid-template-columns: 1fr ;
      grid-gap:20px;
      background-color: #09304b;
      
    }
  .section-9{
    height: 90vh;
  }
  }